html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid green;
    min-height: 50px;
    max-width: fit-content;
    margin: auto;
}

input {
    margin: 5px;
}

button {
    margin: 5px;
}

.field {
    display: block;
}